apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: jit-access
    app.kubernetes.io/managed-by: kustomize
  name: accessrequest-requester-role
rules:
- apiGroups:
  - access.antware.xyz
  resources:
  - accessrequests
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - access.antware.xyz
  resources:
  - accessrequests/status
  verbs:
  - get
