name: Tests

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test.yml
      - api/**
      - cmd/**
      - internal/**
      - test/**
      - go.mod
      - go.sum
      - Dockerfile
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/test.yml
      - api/**
      - cmd/**
      - internal/**
      - test/**
      - go.mod
      - go.sum
      - Dockerfile
  workflow_dispatch: {}

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Running Tests
        run: |
          go mod tidy
          make test

  test-e2e:
    needs: [test]
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e